.Initial {
  position: relative;
  width: 100%;
  /* background-color: blue; */
  & .initial-container {
    position: relative;
  }
}

.next-button {
  position: absolute;
  top: 500px;
  width: 100%;
  height: 50px;
}

.initial-icons-container {
  position: absolute;
  /* background-color: blue; */
  display: flex;
  gap: 40px;
  top: calc(43vh);
  left: 50%;
  transform: translateX(-50%);
  & .initial-icons-before {
    border: 1.5px solid #ffdf6f;
  }
  & .initial-icons-cross {
    border: 1.5px solid #dd8396;
  }
  & .initial-icons-heart {
    border: 1.5px solid #42e3c0;
  }
  & .initial-icons {
    background-color: rgba(222, 222, 222, 0.2);
    padding: 7px;
    border-radius: 50%;
    & img {
      width: 25px;
      aspect-ratio: 1/1;
    }
  }
}

.its-a-match {
  position: absolute;
  z-index: 5;
  background-color: var(--primary-color);
  /* animation: fadeIn 2s; */
  animation: fadeInOut 3s ease-in-out;
  animation-fill-mode: forwards;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  & p {
    font-size: 24px;
    font-style: italic;
    font-weight: 600;
  }
  & h2 {
    font-size: 36px;
    font-style: italic;
    font-weight: 600;
  }
}

@keyframes fadeInOut {
  0% {
    opacity: 0;
  }
  40%, 60% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}


