.Footer {
  /* background-color: rgb(175, 175, 213); */
  height: 40px;
  position: absolute;
  bottom: 0;
  width: 100vw;
  border-top: 1px solid grey;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  & .footer-img {
    width: 25px;
    height: 25px;
  }
}